body, html {
    height: 100%;
}

.bg {
    background-image: url("background.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
